[user]
email = drew@drewxs.dev
name = Andrew X. Shah
signingkey = /home/drew/.ssh/id_ed25519.pub

[credential]
helper = store

[gpg]
format = ssh

[commit]
gpgsign = true

[init]
defaultBranch = main

[pull]
rebase = true

[rebase]
autoStash = true

[push]
autoSetupRemote = true

[filter "lfs"]
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
