[user]
email = drewshah0@gmail.com
name = Andrew X. Shah

[credential]
helper = store

[init]
defaultBranch = main

[pull]
rebase = true

[rebase]
autoStash = true

[push]
autoSetupRemote = true

[filter "lfs"]
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
